/*  your css code here. If applicable */
.card{
	height:70vh;
	width:30vw;
	padding:10%;
	background-color:gray;
	box-shadow:20%;
}
img{
	width:200px;
	height:130px;
	align-items:center;
}
button{
	background-color:red;
	color:white;
	border-radius:20px;
}